{% extends "base.html" %}


{% block page-title %}
    Lista de Marcas
{% endblock %}


{% block content-page %}

    <!-- Account details card-->
    <div class="card">
        <table class="table table-hover">
            <thead>
                <tr>      
                  <th scope="col">Marca</th>
                  <th>Editar</th>
                  <th>Cadastrar</th>
                </tr>
              </thead>
              <tbody>
                {% for brand in brands %}
                <tr>
                    <td>{{ brand }}</td> 
                    <td><a href="" class="btn"><i class="fas fa-fw fa-wrench"></i></a></td>                 
                    <td><a href="{% url 'new_brand' %}" class="btn "><i class="fas fa-fw fa-plus"></i></a></td>                 
                </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
{% endblock %}