{% extends 'base.html' %}

{% block search %}
{% endblock%}

{% block page-title %}
    Deletar
{% endblock%}

{% block card %}
<div class="col-md-5 ">
    <div class="card shadow mb-4 p-1">
        <p>Tem certeza que deseja deletar o carro <strong>{{ object.brand }} {{ object.model }}</p>
        <form method="post">
            {% csrf_token %}
            <div class="container-fluid p-3 mb-2 mt-2">
                <button type="submit" class="btn btn-danger">Deletar Carro</button>
                <a href="{% url 'cars_list' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}