{% extends "base.html" %}


{% block page-title %}
    Lista de carros
{% endblock %}


{% block content-page %}
<div class="album">
  <div class="row" >
    {% if cars %}
      {% for car in cars %}
        <div class=" col-md-3 mb-2 mt-2 item">
          <div class="card shadow-sm">
              {% if car.photo %}
                <img src="{{ car.photo.url }}" alt="{{ car.model }} - {{ car.brand }}" width="100%" height="50%">
              {% else %}
                <img src="../../media/cars/dummy.jpg" alt="{{ car.model }} - {{ car.brand }}" width="100%" height="50%">
              {% endif %}

            <div class="card-body">
                <p class="card-text">{{ car.brand }} - {{ car.model }} - {{ car.factory_year }}</p>
                <p>{{ car.model_year }} - R$ {{ car.value }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'car_detail' pk=car.pk %}" class="btn btn-sm btn-outline-secondary">Detalhes</a>
                      
                      <button type="button" class="btn btn-sm btn-outline-secondary">Editar </button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
              
            </div>
          </div>
        </div>  
      {% endfor %}
    {% else %}
      <p class="no-results">Nenhum carro encontrado</p>

    {% endif %}
  </div>
</div> 
{% endblock %}