{% extends 'base.html' %}

{% load bootstrap %}

{% block search %}
{% endblock%}

{% block page-title %}
    Atualizar
{% endblock%}

{% block card %}
<div class="col-md-auto ">
    <div class="card shadow mb-4">
        <form method="post" enctype="multipart/form-data" class="p-3">
            {% csrf_token %}
            {% block content%}
                <div class="form-group row">
                    <div class="col-sm-6  mb-sm-0">
                        <label>Modelo</label>
                        {{ form.model }}
                    </div>
                    <div class="col-sm-6">
                        <label>Marca</label>
                        {{ form.brand }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-sm-0">
                        <label>Ano de fabricação</label>
                        {{ form.factory_year }}
                    </div>
                    <div class="col-sm-6">
                        <label>Placa</label>
                        {{ form.plate }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-sm-0">
                        <label>Ano do modelo</label>
                        {{ form.model_year }}
                    </div>
                    <div class="col-sm-6">
                        <label>Valor</label>
                        {{ form.value }}
                    </div>
                </div>
                <div class=" col-md-auto">
                    <label>Foto</label>
                    {{ form.photo }}    
                    <div class="small font-italic text-muted mb-1">JPG or PNG no larger than 5 MB</div>        
                </div>
                <div class=" mb-2 col-md-auto">
                    <label>Descrição</label>
                    {{ form.bio }}            
                </div>
            {% endblock %}
           <input type="submit" value="Salvar" class="btn btn-success mb-2">
           {% block cancel %}
           <a href="{% url 'car_detail' pk=car.pk %}" class="btn btn-danger mb-2">Cancelar</a>
           {% endblock %}
        </form>
    </div>
</div>
{% block cardTwo %}
{% endblock %}
{% endblock %}