{% extends 'register_user.html' %}
{% load bootstrap %}

{% block content-page %}
    <form class="user" method="post">
        {% csrf_token %}
        <div class="form-group row">
            {{ user_form.username.errors }}
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="{{ user_form.username.id_for_label }}">Usuário: </label>
                {{ user_form.username }}
            </div>
            <div class="col-sm-6">
                <label for="{{ user_form.email.id_for_label }}">Email: </label>
                {{ user_form.email }}
            </div>
        </div>
        <div class="form-group row">
            {{ user_form.password1.errors }}<br>
            {{ user_form.password2.errors }}<br>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="{{ user_form.password1.id_for_label }}">Senha: </label><br>
                {{ user_form.password1 }}
            </div>
            
            <div class="col-sm-6">
                <label for="{{ user_form.password2.id_for_label }}">Confirmação de senha: </label>
                {{ user_form.password2 }}
            </div>
        </div>
        <input type="submit" value="Cadastrar" class="btn btn-primary btn-user btn-block">
        <hr>
        
    </form>
   
    <div class="text-center">
        <a class="small" href="forgot-password.html">Forgot Password?</a>
    </div>
    <div class="text-center">
        <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
    </div>

{% endblock %}